*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    background-color: black;
}

.main{
    background-image: url("contact.jpg");
    background-size: cover;
}

.main .text{
    padding-top: 8.5vh;
}

.text h1{
    text-align: center;
    color: white;
    font-size: clamp(30px,6.5vw,100px);
    font-weight: 380;
}

a{
    text-decoration: none;
    color: inherit;
}

.connect{
    color: white;
    margin: max(35px,4rem) auto;
    width: max(600px,70%);
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3,auto);
    row-gap: 2rem;
    column-gap: clamp(15px,6rem,40px);
    padding: 10px;
}

.item{
    padding: 1rem;
    font-size: 1.1rem;
}

.connect h2{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 300;
}

.connect .top{
    font-size: max(1.3vw,14px);
    width: 70%;
    text-align: center;
    grid-area: 1/1/2/3 ;
    margin: 0 auto;
    padding: 1rem 0.2rem;
}

.bar{
    height: 2.2px;
    width: 17%;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgb(194, 97, 32);
}

.follow img{
    box-sizing: content-box;
    padding-top: 1rem;
    padding-right: 0.8rem;
    width: max(20px,1.8rem);
}

.follow img:hover{
    transition: transform 0.3s ease-out;
    transform: scale(1.1);
}

iframe{
    margin-top: 40px;
    border-radius: 5px;
    width: min(600px,100%);
    height: min(350px, 15rem);
}

@media (max-width: 777px){
    .connect{
        display: block;
        width: 90%;
    }

    .connect .top{
        width: 100%;
        margin-bottom: 30px;
    }

    .mail p{
        font-size: 0.9rem;
    }
}